# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

# - task: CmdLine@2
#   displayName: 'Install TestCafe'
#   inputs:
#     script: |
#       npm install -g testcafe
#       testcafe --version

- task: CmdLine@2
  displayName: 'Install sauceCtl'
  inputs:
    script: |
      sudo sh -c 'curl -L https://saucelabs.github.io/saucectl/install | bash -s -- -b /usr/local/bin'
      saucectl --version
- task: CmdLine@2
  displayName: 'run TestCafe tests'
  inputs:
    script: |
      saucectl run --config ./.sauce/config-ex1.yml
  env:
    SAUCE_USERNAME: $(sauceUsername) #this will store the value from 'sauceUsername' into SAUCE_USERNAME
    SAUCE_ACCESS_KEY: $(sauceKey)

  

